.card3 {
  width: 22.69rem;
  height: 22.69rem;

  // position: relative;
  &__img {
    display: flex;
    width: 100%;

  }
  .card__bottom{
    text-align: left;

  }
.card__box-title{
  display: inline-block;
    position: relative;
    // text-align: left;

    bottom: 56px;
    // right: 50px;
    padding: 1rem;
    width: auto;
    height: 3.5rem;
    background: var(--color-wite);
  .card-link {

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.19rem;
    line-height: 126%;
    color: var(--color-fon-3);
    text-decoration: none;
  }
}


  // span>a.card-slide__btn.card3__btn.right {
  //   // width: 100%;
  // }

  // &__btn-group {
  //   gap: 10px;

  //   & span:first-child {
  //     width: 60%;
  //     display: flex;
  //   }
  // }

  // &__btn {
  //   gap: 5px;

  //   &.right {
  //     width: 100%;
  //   }

  //   &.left {
  //     width: 40%;
  //   }
  // }
}

@media (max-width: 650px) {
  .card3 {
    &__btn-group {

      & span:first-child {
        width: 100%;
      }
    }

    &__btn {
      &.right {
        width: 100%;
      }

      &.left {
        width: auto;
      }
    }
  }
}